Repository artemcheb722/Graduation-project-group3-, pull requests merged in 2025-05, with the labels that each got.

#1 documentation
  docker-compose.yaml
  documentation/docs/index.md
  documentation/docs/tasks.md
  documentation/mkdocs.yml
Labels: documentation

#2 Add poetry
  .github/workflows/linters.yaml
  Backend_api/Dockerfile
  Backend_api/README.md
  Backend_api/poetry.lock
  Backend_api/poetry.toml
  Backend_api/pyproject.toml
  Makefile
  docker-compose.yaml
  documentation/docs/index.md
  documentation/docs/tasks.md
  documentation/mkdocs.yml
  flake8
Labels: poetry add

#10 add nginx and fastapi
  backend_api/app/applications/auth/auth_handler.py
  docker-compose.yaml
  frontend/Dockerfile
  frontend/app/app_factory.py
  frontend/app/main.py
  frontend/app/settings.py
  frontend/poetry.lock
  frontend/poetry.toml
  frontend/pyproject.toml
  nginx/nginx.conf
Labels: nginx, fastapi

#12 ligin
  frontend/app/routers/main_page_router.py
  frontend/app/templates/components/base.html
  frontend/app/templates/components/login_comp.html
  frontend/app/templates/components/navbar.html
  frontend/app/templates/login.html
Labels: fastapi, html
